<div class="preHeadermain" fxLayoutGap="20px" fxLayout="row">
  <div fxFlex="15" class="leftAppsBox" fxLayout="row">
    <span fxLayoutAlign="center center" fxFlex="30"><i class="fa fa-android iconAndroidStyle"></i></span>
    <span fxLayoutAlign="start center" fxFlex="70">Apps</span>
  </div>
  <div fxLayoutGap="10px" fxLayoutAlign="center center">
    <span>categories</span>
    <span><i class="fa fa-chevron-down"></i></span>
    <span class="verticalLine"></span>
  </div>
    <span class="homeText" fxLayoutAlign="center center">home</span>
    <span fxLayoutAlign="center center">Top Charts</span>
    <span fxLayoutAlign="center center">New Releases</span>
  <div fxFlex fxLayoutGap="10px" fxLayoutAlign="end center">
    <i  class="fa fa-question-circle questionIconStyle"></i>
    <i class="fa fa-cog cogIconStyle"></i>
  </div>
</div>  