.leftAppsBox {
    background:#689f38;
    /* padding:15px; */
    height: 48px;
    color:white;
    font-size:19px;
    font-weight:300;
}
.iconAndroidStyle {
    font-size:26px;

}
.preHeadermain {
    background:white;
    color:grey;
}
.verticalLine {
    border-left:1px solid #BDC3C7;
    height: 30px;
}
.questionIconStyle {
    border:1px solid grey;
    padding:4px 8px 4px 8px;
    color:#000000
}
.cogIconStyle {
    border:1px solid grey;
    padding:4px 15px 4px 15px;
    color:#000000;
    margin-right:30px;
}
.homeText {
    border-bottom:3px solid #689f38;
}