<div fxLayout="column">
  <div class="topSidenav" fxLayput="row">
      <div fxFlex="12" fxLayoutAlign="center center" class="sidePanel">
        <i  class="fa fa-chevron-left"></i>
      </div>
      <div class="topRightPanel" fxLayout="column" fxLayoutGap="15px" fxFlex="88">
         <span class="myAppsText">My Apps</span>
         <span class="shopText">Shop</span>
         <span class="horizontalLine"></span>
         <span>Games</span>
         <span>Family</span>
         <span>Editors Choice</span>
      </div>
  </div>
  
  <div class="bottomSidenav"  fxLayoutGap="10px" fxLayout="column">
      <span>Account</span>
      <span>My Subscription</span>
      <span>Redeem</span>
      <span>Buy Gift Card</span>
      <span>My Wishlist</span>
      <span>My play Activity</span>
      <span>Parent Guide</span>
  </div>
</div>